@keyframes alert {
  from { background-color: transparent; color: white; }
  to { background-color: #df9494; }
}

.old-content {
  color: black;
  background-color: #df9494;
  border-radius: 10px;
  margin-left: 3em;
  margin-top: 1em;
  margin-right: 3em;
  padding: 1em;
  animation-name: alert;
  animation-duration: 1s;
  animation-iteration-count: 4;
}
