{{ define "main" }}
	<main>
		<article>
			<h1>{{ .Title }}</h1>
			<b><time>{{ .Date.Format (default "2006-01-02 15:04:05" .Site.Params.dateFmt) }}</time></b>
				{{ range .Params.categories }}
					<a class="category-link" href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
				{{ end }}
				{{ range .Params.tags }}
					<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
				{{ end }}

			<div>
				{{ partial  "warn_old_content.html" . }}
				{{ .Content }}
			</div>
		</article>
	</main>
{{ partial "comments.html" . }}
{{ partial "sidebar.html" . }}
{{ end }}
